@page
@model SplashpageTiny.Pages.AboutcshtmlModel
@{
    ViewData["Title"] = "About";
}

<body class="">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12 m-5">
                    <h1 class="text-center">
                        An overnight success,
                    </h1>
                    <h1 class="text-center">
                        15-years in the making.
                    </h1>
                    <p class="text-center">
                        We didn't set out to become investors.
                    </p>

                    <p class="text-center">
                        We started our business in 2007, and before we knew it, we had hundreds of employees across a bunch of companies. Along the way, a variety of private equity and venture investors approached us, but <span id="boldText">it was always a miserable experience.</span>
                    </p>

                    <div class="d-flex justify-content-center">
                        <img src="~/img/DefaultPageImg1.png" height="250" />
                    </div>
                </div>

                <p class="text-center">We asked ourselves why other buyers dragged out deals for months and renegotiated over and over again. It was horrible.</p>

                <p class="text-center">Then we read about how Warren Buffett does billion-dollar deals quickly by keeping the process painless and promising founders to take good care of their businesses.</p>

                <p class="text-center">Nobody had done this for technology companies like ours, so we said "screw it" and decided to do it ourselves using Buffett's simple approach.</p>

                <div class="d-flex justify-content-center">
                    <img src="~/img/DefaultPageImg2.png" height="250" />
                </div>

                <p class="text-center">
                    In 2014, we stopped starting companies and started buying them using a simple one-month process, then leaving the companies alone to do their thing.
                    It turned out we were right, founders loved it.
                </p>

                <p class="text-center">We haven't looked back since...</p>

                <div class="row row-cols-1 row-cols-md-3 mb-5">
                    <div class="col mb-4">
                        <div class="card">
                            <img src="~/img/DefaultPageImg1.png" class="card-img-top" alt="img1">
                            <div class="card-body">
                                <h3 class="text-center textDark">11</h3>
                                <p class="text-center textBlue">Companies Founded</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <img src="~/img/DefaultPageImg2.png" class="card-img-top" alt="img2">
                            <div class="card-body">
                                <h3 class="text-center textDark">35</h3>
                                <p class="text-center textBlue">Majority owned companies</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-2">
                        <div class="card">
                            <img src="~/img/DefaultPageImg1.png" class="card-img-top" alt="img3">
                            <div class="card-body">
                                <h3 class="text-center textDark">90+</h3>
                                <p class="text-center textBlue">Minority investments</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-2">
                        <div class="card">
                            <img src="~/img/DefaultPageImg2.png" class="card-img-top" alt="img4">
                            <div class="card-body">
                                <h3 class="text-center textDark">900+</h3>
                                <p class="text-center textBlue">Global employees</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <img src="~/img/DefaultPageImg1.png" class="card-img-top" alt="img5">
                            <div class="card-body">
                                <h3 class="text-center textDark">17</h3>
                                <p class="text-center textBlue">Head office team</p>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="text-center">We started Tiny to become the buyer we wish we could have sold to.</h3>

                <p class="text-center mb-5">We thought about all the stuff we hated about dealing with private equity firms and worked backwards. It turns out, they really do make it too complicated and there are tons of founders like us, who wanted a long-term home for their businesses.</p>

                <h3 class="text-center mb-5">Here's how we do it:</h3>

                <div class="col-12 col-lg-6">
                    <h5 class="text-center">
                        Speak plainly
                    </h5>
                    <p class="text-center">
                        Don't waste people's time. We speak plainly: no BS, buzzwords, or stupid finance terms.
                    </p>
                    <h5 class="text-center">
                        Avoid synergy
                    </h5>
                    <p class="text-center">
                        We leave all our businesses to operate independently and avoid synergy at all costs.
                    </p>
                    <h5 class="text-center">
                        No assholes
                    </h5>
                    <p class="text-center">
                        Life is too short for brilliant jerks, assholes, suck ups, psychopaths, narcissists, and all that stuff...
                    </p>
                </div>

                <div class="col-12 col-lg-6 mb-3">
                    <h5 class="text-center">
                        Protect culture
                    </h5>
                    <p class="text-center">
                        Don't mess with the culture that makes each company unique.
                    </p>
                    <h5 class="text-center">
                        Make founders proud
                    </h5>
                    <p class="text-center">
                        Founders entrust us with their companies. We do our best to follow through on their vision.
                    </p>
                    <h5 class="text-center">
                        Leave people alone
                    </h5>
                    <p class="text-center">
                        We buy great companies, hire great leaders, and leave them to do their thing.
                    </p>
                </div>

                <h2 class="text-center mb-4">Our Team</h2>

                <div class="row row-cols-1 row-cols-md-4 mb-5">
                    <div class="col mb-4">
                        <div class="card">
                            <img src="~/img/ClaudiaBlack.png" class="card-img-top" alt="img1">
                            <div class="card-body">
                                <h6 class="textDark">Andrew Wilkinson</h6>
                                <p class="textBlue">Co-Founder</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <img src="~/img/NathanFillion.png" class="card-img-top" alt="img2">
                            <div class="card-body">
                                <h6 class="textDark">Chris Sparling</h6>
                                <p class="textBlue">Co-Founder</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <img src="~/img/ClaudiaBlack.png" class="card-img-top" alt="img3">
                            <div class="card-body">
                                <h6 class="textDark">Ampere Chan</h6>
                                <p class="textBlue">General Partner & CFO</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <img src="~/img/NathanFillion.png" class="card-img-top" alt="img4">
                            <div class="card-body">
                                <h6 class="textDark">Austin Singhera</h6>
                                <p class="textBlue">General Partner</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <img src="~/img/ClaudiaBlack.png" class="card-img-top" alt="img4">
                            <div class="card-body">
                                <h6 class="textDark">Hafeez Shariff</h6>
                                <p class="textBlue">General Partner & Tax</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <img src="~/img/NathanFillion.png" class="card-img-top" alt="img4">
                            <div class="card-body">
                                <h6 class="textDark">Michael Wasylynchuk</h6>
                                <p class="textBlue">Partner, Legal</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <img src="~/img/ClaudiaBlack.png" class="card-img-top" alt="img4">
                            <div class="card-body">
                                <h6 class="textDark">Stephanie Fan</h6>
                                <p class="textBlue">Partner, M&A</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <img src="~/img/NathanFillion.png" class="card-img-top" alt="img4">
                            <div class="card-body">
                                <h6 class="textDark">Till Gross</h6>
                                <p class="textBlue">Partner, M&A</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <img src="~/img/ClaudiaBlack.png" class="card-img-top" alt="img4">
                            <div class="card-body">
                                <h6 class="textDark">Lisa Koronko</h6>
                                <p class="textBlue">Partner, Finance</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <img src="~/img/NathanFillion.png" class="card-img-top" alt="img4">
                            <div class="card-body">
                                <h6 class="textDark">Ramneet Mann</h6>
                                <p class="textBlue">Director of Finance</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <img src="~/img/ClaudiaBlack.png" class="card-img-top" alt="img4">
                            <div class="card-body">
                                <h6 class="textDark">Karen Kler</h6>
                                <p class="textBlue">Director of Operations</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <img src="~/img/NathanFillion.png" class="card-img-top" alt="img4">
                            <div class="card-body">
                                <h6 class="textDark">Caoimhe Murphy</h6>
                                <p class="textBlue">Operations</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <img src="~/img/ClaudiaBlack.png" class="card-img-top" alt="img4">
                            <div class="card-body">
                                <h6 class="textDark">Michelle Kamensek</h6>
                                <p class="textBlue">Finance</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <img src="~/img/NathanFillion.png" class="card-img-top" alt="img4">
                            <div class="card-body">
                                <h6 class="textDark">Mohit Mamoria</h6>
                                <p class="textBlue">Partner, India</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <img src="~/img/ClaudiaBlack.png" class="card-img-top" alt="img4">
                            <div class="card-body">
                                <h6 class="textDark">Winnie Ip</h6>
                                <p class="textBlue">M&A</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <img src="~/img/NathanFillion.png" class="card-img-top" alt="img4">
                            <div class="card-body">
                                <h6 class="textDark">Winnie Yiu</h6>
                                <p class="textBlue">Finance</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <img src="~/img/ClaudiaBlack.png" class="card-img-top" alt="img4">
                            <div class="card-body">
                                <h6 class="textDark">Elaina Tosoff</h6>
                                <p class="textBlue">Operations</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <img src="~/img/NathanFillion.png" class="card-img-top" alt="img4">
                            <div class="card-body">
                                <h6 class="textDark">Pedro Gascon</h6>
                                <p class="textBlue">M&A</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-12 m-5">
                    <h2 class="text-center">
                        Interested in working with us?
                    </h2>
                    <div class="d-flex justify-content-center">
                        <a href="/Recruitment" class="btn btn-outline-secondary p-3 mx-2">View job openings<i class="bi bi-arrow-right-circle mx-2"></i></a>
                    </div>
                </div>

                <div class="col-12 col-lg-12 m-5">
                    <div class="bg-white p-5">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <h2 class="textBlue">Know someone we should talk to?</h2>
                                <p class="textBlue">Scout a deal for us and we'll make it worth your while! We pay finders fees of $25,000 to $2000,000+, all you have to do is intro us.</p>
                                <a href="/Scout" class="btn btn-outline-primary p-3 rounded-pill mx-2">Send us a lead<i class="bi bi-arrow-right-circle mx-2"></i></a>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="d-flex justify-content-end">
                                    <img src="/img/DefaultPageImg1.png" height="200" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>