@page
@model SplashpageTiny.Pages.AboutcshtmlModel
@{
    ViewData["Title"] = "About";
}

<body class="">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12 m-5">
                    <h1 class="text-center">
                        An overnight success,
                        15-years in the making.
                    </h1>
                    <p class="text-center">
                        We didn't set out to become investors.
                    </p>

                    <p class="text-center">
                        We started our business in 2007, and before we knew it, we had hundreds of employees across a bunch of companies. Along the way, a variety of private equity and venture investors approached us, but it was always a miserable experience.
                    </p>
                </div>

                <p class="text-center">We asked ourselves why other buyers dragged out deals for months and renegotiated over and over again. It was horrible.</p>

                <p class="text-center">Then we read about how Warren Buffett does billion-dollar deals quickly by keeping the process painless and promising founders to take good care of their businesses.</p>

                <p class="text-center">Nobody had done this for technology companies like ours, so we said "screw it" and decided to do it ourselves using Buffett's simple approach.</p>

                <p class="text-center">
                    In 2014, we stopped starting companies and started buying them using a simple one-month process, then leaving the companies alone to do their thing.
                    It turned out we were right, founders loved it.
                </p>

                <p class="text-center">We haven't looked back since...</p>

                <h3 class="text-center">We started Tiny to become the buyer we wish we could have sold to.</h3>

                <p class="text-center">We thought about all the stuff we hated about dealing with private equity firms and worked backwards. It turns out, they really do make it too complicated and there are tons of founders like us, who wanted a long-term home for their businesses.</p>

                <h3 class="text-center">Here's how we do it:</h3>

                <div class="col-12 col-lg-6">
                    <h3 class="text-center">
                        Speak plainly
                    </h3>
                    <p class="text-center">
                        Don't waste people's time. We speak plainly: no BS, buzzwords, or stupid finance terms.
                    </p>
                    <h3 class="text-center">
                        Avoid synergy
                    </h3>
                    <p class="text-center">
                        We leave all our businesses to operate independently and avoid synergy at all costs.
                    </p>
                    <h3 class="text-center">
                        No assholes
                    </h3>
                    <p class="text-center">
                        Life is too short for brilliant jerks, assholes, suck ups, psychopaths, narcissists, and all that stuff...
                    </p>
                </div>

                <div class="col-12 col-lg-6">
                    <h3 class="text-center">
                        Protect culture
                    </h3>
                    <p class="text-center">
                        Don't mess with the culture that makes each company unique.
                    </p>
                    <h3 class="text-center">
                        Make founders proud
                    </h3>
                    <p class="text-center">
                        Founders entrust us with their companies. We do our best to follow through on their vision.
                    </p>
                    <h3 class="text-center">
                        Leave people alone
                    </h3>
                    <p class="text-center">
                        We buy great companies, hire great leaders, and leave them to do their thing.
                    </p>
                </div>

                <h2 class="text-center">Our Team</h2>

                <div class="col-12 col-lg-12 m-5">
                    <h2 class="text-center">
                        Interested in working with us?
                    </h2>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-outline-secondary my-4">View job openings<i class="bi bi-arrow-right-circle mx-2"></i></button>
                    </div>
                </div>

                <div class="col-12 col-lg-12 m-5">
                    <div class="border rounded-2 p-5">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <h2>Know someone we should talk to?</h2>
                                <p>Scout a deal for us and we'll make it worth your while! We pay finders fees of $25,000 to $2000,000+, all you have to do is intro us.</p>
                                <button type="button" class="btn btn-outline-secondary">Send us a lead<i class="bi bi-arrow-right-circle mx-2"></i></button>
                            </div>
                            <div class="col-12 col-lg-6">
                                <p>Picture here</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>