@page
@model SplashpageTiny.Pages.CompaniesModel
@{
    ViewData["Title"] = "Companies";
}

<body class="">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12 m-5">
                    <h2 class="text-start">We own some wonderful businesses.</h2>

                    <p class="text-start">
                        Since 2007, we have started, invested in, or acquired over 80 companies.
                        Occasionally, we make minority and venture investments, but these days we mostly focus on acquiring majority stakes.
                    </p>
                </div>

                <div class="col-12 col-lg-12 m-5">
                    <p class="majorityOwnedText">Majority Owned</p>
                    <hr />
                    <p>These are our core businesses, the ones that we own a majority (controlling) stake in. Some we own 100%, in others the founders have kept a chunk of equity and come along for the ride.</p>

                    <div class="row row-cols-1 row-cols-md-4">
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <img src="~/img/DefaultPageImg1.png" />
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <img src="~/img/DefaultPageImg2.png" />
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <img src="~/img/DefaultPageImg1.png" />
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <img src="~/img/DefaultPageImg2.png" />
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>Stamped</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>Creative Market</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>girlboss</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>WWR</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>FourSixty</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>Designer News</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>Unicorn Hunt</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>Z1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>Out of the Sandbox</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>medimap</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>double up</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>Meteor</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>Rehash</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>8020</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>button</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>Websterpeace</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>Yopify</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>Archetype</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>SuppleApps</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>Frosty</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>Abstract</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>Kno</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="hc-wrapper">
                                <div class="hc-card">
                                    <p>befunky</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-12 m-5">
                    <h2 class="text-center">
                        Think your company belongs here?
                    </h2>
                    <div class="d-flex justify-content-center">
                        <a href="mailto:email@example.com" class="btn btn-outline-secondary p-3 mx-2">Get in touch<i class="bi bi-arrow-right-circle mx-2"></i></a>
                    </div>
                </div>

                <div class="col-12 col-lg-12 m-5">
                    <div class="bg-white p-5">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <h2 class="textBlue">Know someone we should talk to?</h2>
                                <p class="textBlue">Scout a deal for us and we'll make it worth your while! We pay finders fees of $25,000 to $2000,000+, all you have to do is intro us.</p>
                                <a href="/Scout" class="btn btn-outline-primary p-3 rounded-pill mx-2">Send us a lead<i class="bi bi-arrow-right-circle mx-2"></i></a>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="d-flex justify-content-end">
                                    <img src="/img/DefaultPageImg1.png" height="200" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
