@page
@model SplashpageTiny.Pages.PodcastModel
@{
    Layout = "/Pages/Shared/_PodcastLayout.cshtml";
}

<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12 m-5">
                    <h2 class="text-center">Tiny Office Hours</h2>

                    <p class="text-center">
                        Every month or so, Andrew and Chris from Tiny do a charity AMA (Ask Me Anything) session where the community grills them like grilled cheese on pressing business and investing questions.
                    </p>

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-outline-secondary my-4">Play Episode</button>
                    </div>
                </div>


            </div>
        </div>
    </div>

</body>
